<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Library Management System</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>List Books Transaction Details</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Book Name</th>
					<th>Book Issued By</th>
					<th>Book Issued To</th>
					<th>Book Issued On</th>
					<th>Book Returned On</th>
					<th>Remark</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="booktransactiondetails:${booktransactiondetails}">
					<td th:text="${booktransactiondetails.bookName}"></td>
					<td th:text="${booktransactiondetails.issuedBy}"></td>
					<td th:text="${booktransactiondetails.issuedTo}"></td>
					<td th:text="${booktransactiondetails.issuedOn}"></td>
					<td th:text="${booktransactiondetails.returnedOn}"></td>
					<td th:text="${booktransactiondetails.remark}"></td>

				</tr>
		</table>
	</div>
</body>
</html>